@import "../breakPoints";



#mainBox{
    width: 1592px;
    height: 2347px;    
    background-color: rgba(251, 252, 253, 1)
}
#dealText{
    position: absolute;
    width: 495px;
    height: 44px;
    top: 1727px;
    left: 292px;
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(44, 56, 74, 1);    
}



/*-----------Media Query--------*/



@include tablets{
    #dealText{
        width: 700px;
        top: 2230px;
        left: 25px;
    }
}


@include phones{
    #dealText{
        width: 400px;
        top: 2790px;
        left: 15px;
        font-size: 25px;
    }
}


