@import "../../breakPoints";

#lastBox{
    position: absolute;
    width: 1024px;
    height: 171px;
    top: 2268px;
    left: 328px;  
    background-color: rgba(251, 252, 253, 1);  

    #signAndDealText{
        position: relative;
        width: 398px;
        height: 88px;
        top: 33px;
        left: 10px;  
        font-family: Inter;
        font-size: 32px;
        font-weight: 400;
        line-height: 44px;
        letter-spacing: 0em;
        text-align: left;
        color: rgba(92, 104, 116, 1);              
    }

    #emailInput{
        position: absolute;
        width: 348px;
        height: 52px;
        top: 41px;
        left: 559px;
        border: 0px;
        border-top-left-radius: 12px;   
        border-bottom-left-radius: 12px;  
        background-color: rgba(255, 255, 255, 1);
    }

    #SignUpBtn{
        position: absolute;
        width: 97px;
        height: 52px;
        top: 41px;
        left: 907px;
        border: 0px;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;   
        background-color: rgba(27, 136, 244, 1);   
        cursor: pointer;  
    }

    #SignUpText{
        position: absolute;
        width: 57px;
        height: 20px;
        top: 16px;
        left: 20px;   
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.699999988079071px;
        text-align: center;
        color: rgba(255, 255, 255, 1);      ;             
    }
}




/*-----------Media Query---------*/





@include tablets{
    #lastBox{
        width: 712px;
        height: 121px;
        top: 3190px;
        left: 35px;
        #signAndDealText{
            font-size: 28px;
            width: 350px;
        }
        #emailInput{
            width: 230px;
            height: 45px;
            left: 412px;
        }
        #SignUpBtn{
            width: 65px;
            height: 50px;
            left: 642px;
        }
        #SignUpText{
            top: 12x;
            left: 3px;
            font-size: 14px;
        }
    }
}




@include phones{
    #lastBox{
        width: 500px;
        height: 121px;
        top: 4180px;
        left: 12px;
        #signAndDealText{
            font-size: 20px;
            width: 220px;
        }
        #emailInput{
            width: 170px;
            height: 30px;
            left: 260px;
        }
        #SignUpBtn{
            width: 65px;
            height: 34px;
            left: 430px;
        }
        #SignUpText{
            top: 6px;
            left: 3px;
            font-size: 14px;
        }
    }
}

