@import '../_breakPoints';

header{
    width: 1614px;
    height: 64px;
    background-color: rgba(33, 39, 49, 1);
    
    > ul{
        display: flex;
        list-style-type: none;
    }

    #searchImg{
        position: absolute;
        width: 24px;
        height: 24px;
        top: 19px;
        left: 489px;     
        z-index: 1;  
    }
    #search{
        position: absolute;
        width: 258px;
        height: 37px;
        top: 14px;
        left: 480px;        
        border-radius: 8px;
        border: 1px solid rgba(225, 228, 230, 1);
        padding: 0 0 0 5px;
    }
    
    #categories{
        position: absolute;
        width: 73px;
        height: 20px;
        top: 23px;
        left: 817px;
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        color: rgba(209, 214, 218, 1);
        cursor: pointer;
        &:hover{
            color: whitesmoke;
        }    
    }

    #webBuilder{
        position: absolute;
        width: 142px;
        height: 20px;
        top: 23px;
        left: 943px; 
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        color: rgba(209, 214, 218, 1);
        cursor: pointer;
        &:hover{
            color: whitesmoke;
        }             
    }

    #deals{
        position: absolute;
        width: 91px;
        height: 20px;
        top: 23px;
        left: 1138px;      
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        color: rgba(209, 214, 218, 1);
        cursor: pointer;
        &:hover{
            color: whitesmoke;
        }          
    }

}


/*---------MeadiaQueries--------*/

@mixin phoneHeader($top,$left){
    top: $top;
    left: $left;
}





@include  tablets{
    header{
        width: 775px;

        #searchImg{
            @include phoneHeader(19px, 720px);
        }
        #search{
            @include phoneHeader(18px, 718px);
            border-radius: 80px;
            width: 21px;
            height: 25px;
        }
        #R_search{
            position: absolute;
            @include phoneHeader(14px,492px);
            width: 250px;
            height: 35px;        
            border-radius: 8px;
            border: 1px solid rgba(225, 228, 230, 1);
            padding: 0 0 0 5px;
        }
        #categories,#webBuilder,#deals{
            display: none;
        }
    }
}




@include phones{
    header{
        width: 521px;

        #searchImg{
            @include phoneHeader(19px, 440px);
        }
        #search{
            @include phoneHeader(16px, 438px);
            border-radius: 50px;
            width: 22px;
            height: 25px;
        }
        #R_search{
            position: absolute;
            @include phoneHeader(14px,300px);
            width: 170px;
            height: 35px;        
            border-radius: 8px;
            border: 1px solid rgba(225, 228, 230, 1);
            padding: 0 0 0 5px;
        }
        #categories,#webBuilder,#deals{
            display: none;
        }
    }
}