@import "../../breakPoints";


@mixin toolsStyle($width,$left){
    position: absolute;
    width: $width;
    height: 36px;
    top: 235px;
    left: $left;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 1);
}

#tool1{
    @include toolsStyle(105px,284px)
}
#tool2{
    @include toolsStyle(138px,409px)
}
#tool3{
    @include toolsStyle(105px,567px)
}
#tool4{
    @include toolsStyle(132px,692px)
}
#tool5{
    @include toolsStyle(126px,844px)
}
#tool6{
    @include toolsStyle(140px,990px)
}





/*-----------Media Query----------*/



@include tablets{
   #tool1{
    left: 20px;
   }
   #tool2{
    left: 125px;
   }
   #tool3{
    left: 255px;
   }
   #tool4{
    left: 372px;
   }
   #tool5{
    left: 510px;
   }
   #tool6{
    left: 625px;
   }
}




@include phones{
    #tool1{
        top: 260px;
        left: 30px;
    }
    #tool2{
        top: 260px;
        left: 180px;
    }
    #tool3{
        top: 260px;
        left: 350px;
    }
    #tool4{
        top: 300px;
        left: 30px;
    }
    #tool5{
        top: 300px;
        left: 180px;
    }
    #tool6{
        top: 300px;
        left: 350px;
    }
}